@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*{
    margin: 0;
    padding: 0;
}

.memberMain{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(/asset/member/팀원소개.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    position: relative;
}

.profile{
    display: inline-block;
    padding: 1.5rem 0.5rem;
    gap: 2.25rem;
}

.img{
    width: 10%;
    height: 10%;
}

.img img{
    width: 11.25rem;
    height: 11.25rem;
    object-fit: cover;
    border-radius: 30%;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
}

h1{ 
    font-family: 'Pretendard Variable';
    font-weight: 350;
    font-size: 1.5rem;
}

p{
    font-family: 'Pretendard Variable';
    font-weight: 340;
    font-size: 1.25em;
}

/* 윤서선배 */
#_1{
    transform: rotate(-4.81deg);
    position: absolute;

    left: 9.25rem;
    top: 9.25rem;
}

/* 소울선배 */
#_2{
position: absolute;
left: 26rem;
top: 12.5rem;
transform: rotate(4.25deg);

}

/* 한태영선배님ㅁ */

#_3{
position: absolute;
left: 51.5rem;
top: 12.75rem;

transform: rotate(-3.42deg);
}

/* 정수환 선배님 */
#_4{
position: absolute;
left: 68rem;
top: 15.2rem;

transform: rotate(4.95deg);

}

/* 공재욱 */
#_5{
position: absolute;

left: 9.5rem;
 top: 30.75rem; /* 672px */
}

/* 울산대빵이고픈 사람 */
#_6{
position: absolute;

left: 26.5rem;
top: 29.75rem;

transform: rotate(-2.14deg);
}

/* 자칭 낭만 보드마스터 */
#_7{
position: absolute;
left: 51.5rem;
top: 30.75rem; 

transform: rotate(9.19deg);
}

/* 허동운 */
#_8{
position: absolute;

left: 68rem;
top: 30.75rem; 
transform: rotate(3.75deg);
}

